/* CSS RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* UTILITY */

.container{
    max-width: 1680px;
    margin: 0 auto;
}


/* GENERIC */

body{
    font-family: sans-serif;
    color:#fff;
}

/* HEADER */

header{
    background-color: #000;
    height: 40px;
    line-height: 40px;
     text-align: right;
}

.navbar li{
    display: inline-block;
    padding: 10px;
}

.navbar a{
    text-decoration:none;
    color:#fff;
}

/* MAIN */

main{
    background-color: #000;
    height: calc(100vh - 120px);
    overflow-y: auto;
    padding: 10px 0;
}

.partecipant{
    margin: 0 -10px;
}

.flex-container {
    display:flex;
    flex-wrap: wrap;
}

.card img{
    max-width: 100%;
    display:block;
    
}

/* CARD */


.card{

    flex-basis: 240px;
    min-height: 140px;
    align-items: center;
    flex-shrink: 0;

    padding: 10px 5px;
    position: relative;
}

/* POSITION LAYOUT */

.label{
    display: flex;
    position: absolute;
    bottom:7px;
    left:5;
}

.label div{

    padding:5px;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 13px;
}

.command{
    position: absolute;
    top:20px;
    right:10px;
    display: none;
}
.command span{

    padding:5px;
    background-color: rgba(6, 43, 255, 0.2);
}


/* FOOTER */

footer{
    background-color: #222222;
    height: 80px;
}

/* HOVER */

.card:hover .command{
       display:block;
       cursor: pointer;
}